*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
build/
*.jks
*.keystore
!app/debug.keystore
!app/coffeery.keystore
google-services.json
app/google-services.json
